




<header class="header" data-position="fixed">
  <nav class="top-bar">
    <div class="overlay-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="call-to-action">
              <ul class="list-inline">
                <li><a [routerLink]="['/truckdash']"><i class="fa fa-phone"></i> Home</a> &nbsp; &nbsp;
                  <a [routerLink]="['/aboutus']"><i class="fa fa-envelope"></i> About Us</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> Contact Us</a> &nbsp; &nbsp;
                  <a href="#"><i class="fa fa-envelope"></i> Help Centre</a> &nbsp; &nbsp;
                  
              </ul>
            </div>
            <!-- /.call-to-action -->
          </div>
          <!-- /.col-sm-6 -->
          <div class="col-sm-6 hidden-xs">
            <div class="topbar-right">
                            <div class="call-to-action">
              <ul class="social-links list-inline pull-right">
                <li><a href="http://www.fb.com">Messages</a>
                  <a style="margin-left: 10px" href="#">Notifications</a>
                  <a style="margin-left: 10px" href="#">Edit Profile</a>
                 <button type="submit" class="btn btn-outline-info my-2 my-sm-0 btn-success" style="margin-left: 20px;"> <a [routerLink]="['/home']" style="color:#ffffff" >Log Out</a></button></li>
                   <!--<a href="#"><i class="fa fa-linkedin"></i></a>
                   <a href="#"><i class="fa fa-google-plus"></i></a>
                   <a href="#"><i class="fa fa-youtube"></i></a></li>-->
              </ul>
            </div>
            </div>
            <!-- /.social-links -->
          </div>
          <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.overlay-bg -->
  </nav>
  <!-- /.top-bar -->
 </header>




<h1>Hello Trucker</h1>
<h2>Welcome to Trucker Dashboard !!!</h2>
<hr>

<div class="container">
 <h1>
   Welcome to your Dashboard !! 
 </h1> 
 <hr >









 
  <div class="row">
    <div class="col-md-6">
    <div class="wrapper">  
        <a [routerLink]="['/availablejobs']">
      <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit" 
          style="margin-right: 5px;width: 100%;font-size: 20px;">-->
          Available Jobs
      <!--</button> -->
      </a> 
    </div> 


    <div class="wrapper">
        <a [routerLink]="['../seecurrentjobs']">
        <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
            style="margin-right: 5px;width: 100%;font-size: 20px;">-->
             Awarded Jobs
        <!--</button>-->
         </a>
    </div>
   
      <div class="wrapper">
          <a [routerLink]="['../conpersonalprofile']">
        <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
            style="margin-right: 5px;width: 100%;font-size: 20px;">-->
             Completed Jobs
        <!--</button> -->
        </a>
      </div>
 

      <div class="wrapper">
           <a [routerLink]="['../conpublicprofile']">
      <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
          style="margin-right: 5px;width: 100%;font-size: 20px;">--> Load Units Stat
      <!--</button>-->
       </a>
      </div>

       <div class="wrapper">
           <a [routerLink]="['../conjobpost']">
      <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
          style="margin-right: 5px;width: 100%;font-size: 20px;">-->
           Distance Travelled Stat
      <!--</button> -->
         </a>
      </div>

 
      <div class="wrapper">
       <a [routerLink]="['../conrecentjobposts']">   
       <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;">-->
         Earning Stat
      <!--</button>  -->
        </a>
      </div>


      <div class="wrapper">
        <a [routerLink]="['../conrecentfullfilledjobposts']">    
     
      <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"
        style="margin-right: 5px;width: 100%;font-size: 20px;">-->
         Recommended Stat
      <!--</button> -->
      </a>
      </div>



      </div>

      <div class="col-md-6">

     <img src="http://www.livemint.com/rf/Image-621x414/LiveMint/Period1/2015/02/19/Photos/AMW-k8kC--621x414@LiveMint.JPG" style="width: 100%">
     
      
      </div>
    </div>
    <br><br>
    <img src="https://cdn-az.allevents.in/banners/7ab1b81e98f9d67e715c0e0c8d794b55" style="width: 100%">

</div>
    

  

  
