h1{text-align: center;color: orangered;font-size: 30px;font-weight: 800}
.wrapper{text-align: center;margin-top: 50px;}


// .header_nav { position: fixed }
.top-bar
{	
    background-image: url(/assets/images/topbar-bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.top-bar .overlay-bg 
{
  background: #3b2b6a;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, #3b2b6a 0%, #307c95 100%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3B2B6A), color-stop(100%,#307c95), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(left, #3b2b6a 0%,#307c95 100%,#7db9e8 100%);
  background: -o-linear-gradient(left, #3b2b6a 0%,#307c95 100%,#7db9e8 100%);
  background: -ms-linear-gradient(left, #3b2b6a 0%,#307c95 100%,#7db9e8 100%);
  background: linear-gradient(to right, rgba(59, 43, 106, 0.9) 0%,rgba(48, 124, 149, 0.9) 100%,rgba(125, 185, 232, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b2b6a', endColorstr='#7db9e8',GradientType=1 );
  padding: 8px 0;
}

/* Social Links */

// .social-links{padding-top: 10px;}
.social-links li 
{
  padding-right: 2px;
  padding-left: 2px;
}

.social-links li a 
{
  color: #fff;
}

.social-links li a:hover
 {
  color: #65d3e3;
}

.social-links i
 {
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.top-bar .social-links i 
{
  width: 25px;
  height: 25px;
  font-size: 20px;
  line-height: 25px;
}

.social-share ul li a 
{
  color: #363A45;
}

.social-share ul li i 
{
  border: 1px solid #E0E0E0;
  box-shadow: none;
}

/*call-to-action*/
.call-to-action 
{
 padding-top: 10px;
}

.call-to-action ul li a {
  font-size: 15px;
  color: #fff;
}

.call-to-action ul li a:hover {
  color: #65d3e3;
  text-decoration: none;
}

.call-to-action i {
  margin-right: 5px;
}



   
   
   
    .div-decorator
    {
        border-top:3px solid #428BCA;
        border-right:3px solid #D9534F;
        border-bottom:3px solid #5CB85C;
        border-left:3px solid #F0AD4E;
        margin:30px;
        border-radius:20px;
    }
    .div-heading
    {
        border-bottom:1px dashed #5BC0DE;
        padding-top:15px;
        padding-bottom:15px;
        margin:0px;
        background-color:#F5F5F5;
        border-radius:20px 20px 0px 0px;
    }
    .heading
    {
        color:#5FC9E5;
    }

    .col{color: 	#5bc0de}
    